page-category {
    /*   ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
        width: 10em;
        margin: 0 0 0 -0.8125em;
    }
    li {
        padding-right: .6em;
        margin: 1em 0;
    }*/
}