page-newnote {
    .c1 {
        background: white;
    }
    .c2 {
        background: orange;
    }
    .c3 {
        background: lightgreen;
    }
    .c4 {
        background: lightcoral;
    }
    .c5 {
        background: darkturquoise;
    }
}