page-newnote {
    .c1 {
        background: orange;
    }
    .c2 {
        background: lightgreen;
    }
    .c3 {
        background: lightcoral;
    }
    .c4 {
        background: paleturquoise;
    }
}