<!--
  Generated template for the SpendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar no-border-bottom color="primary" hideBackButton>
        <ion-buttons end>
            <a ion-button icon-only (click)="openPopoverMenu($event)">
                <ion-icon name="more"></ion-icon>
            </a>
        </ion-buttons>
        <ion-title style="float:left;">
            Spends
        </ion-title>

    </ion-navbar>


    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="spends">
            <ion-segment-button value="date">
                By Date
            </ion-segment-button>
            <ion-segment-button value="color">
                By Color
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-fab bottom right style="margin-bottom:22px;">
        <button ion-fab>
        <ion-icon name="add"></ion-icon>
      </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="onClickRec()">
          <ion-icon name="cloud"></ion-icon>
          <div class="label">Reccuring Spends</div>
        </button>
        </ion-fab-list>

        <ion-fab-list side="top">
            <button ion-fab class="button3" (click)="onClickOne() ">
          <ion-icon name="cloud-done"></ion-icon>
          <div class="label">One-time Spends</div>
        </button>
        </ion-fab-list>


        <ion-fab-list side="top">
            <button ion-fab class="button4" (click)="onClickFreq() ">
          <ion-icon name="cloud-outline"></ion-icon>
          <div class="label">Frequent Spends</div>
        </button>
        </ion-fab-list>




    </ion-fab>





    <div [ngSwitch]="spends">




        <ion-list *ngSwitchCase="'date'" ngSelected="selected">
            <ion-item class="style">


                <ion-label class="style">
                    <ion-icon name="search" class="menu-icon"> Search By Date</ion-icon>
                </ion-label>



                <ion-datetime displayFormat="DD-MM-YYYY" (ionChange)="searchByDate()" [(ngModel)]="event.finalDate"></ion-datetime>

            </ion-item>
            <ion-footer style="position:fixed;height:50px;" (click)="totSpendByCat()">

                <ion-toolbar>

                    <table style="background:lightgreen">
                        <tr>
                            <td>
                                <ion-label style="font-size:20px;">TOTAL SPENDS</ion-label>
                            </td>
                            <td>
                                <ion-label style="font-size:20px;margin-left:75px">{{sumexp | currency:'INR':true}}</ion-label>
                            </td>
                        </tr>
                    </table>
                </ion-toolbar>
            </ion-footer>

            <ion-card *ngFor="let item of arr">

                <ion-item (click)="onClickdesc(item.expense_id)">
                    <ion-avatar item-start>
                        <img src="{{item.icon_image}}">
                    </ion-avatar>

                    <div class="item row">
                        <span align="left" class="col col-50">{{item.sub_cat_name}}</span>
                        <span align="right" class="col col-50"> {{item.expense_amt | currency:'INR':true}}</span>
                    </div>

                    <p>{{item.expense_date}}</p>

                </ion-item>
            </ion-card>


        </ion-list>
        <ion-list *ngSwitchCase="'color'">

            <ion-searchbar [(ngModel)]="txtsearch " (click)="openPopover1($event)" placeholder="Search By Color ">Search by Color</ion-searchbar>
            <ion-card *ngFor="let item of arr ">
                <div class="list card ">
                    <ion-card-header [ngClass]="{c1:item.colour_name=='white' ,c2:item.colour_name=='orange' ,c3:item.colour_name=='lightgreen' ,c4:item.colour_name=='lightcoral',c5:item.colour_name=='darkturquoise'}">

                        <ion-icon name="radio-button-off" (click)="openPopover($event,item.expense_id)"></ion-icon>
                        &nbsp;&nbsp;
                        <ion-icon name="trash" (click)="showPrompt(item)"></ion-icon>
                    </ion-card-header>

                </div>
                <div>
                    <ion-card-content>

                        <ion-item (click)="onClickdesc(item.expense_id) ">
                            <ion-avatar item-start>
                                <img src="{{item.icon_image}} ">
                            </ion-avatar>

                            <div class="item row ">
                                <span align="left " class="col col-50 ">{{item.sub_cat_name}}</span>
                                <span align="right " class="col col-50 "> {{item.expense_amt | currency:'INR':true}}</span>
                            </div>

                            <p>{{item.expense_date}}</p>

                        </ion-item>
                    </ion-card-content>
                </div>
            </ion-card>
            <ion-footer style="position:fixed;height:50px;" (click)="totSpendByCat()">

                <ion-toolbar>

                    <table style="background:lightgreen">
                        <tr>
                            <td>
                                <ion-label style="font-size:20px;">TOTAL SPENDS</ion-label>
                            </td>
                            <td>
                                <ion-label style="font-size:20px;margin-left:75px">{{sumexp | currency:'INR':true}}</ion-label>
                            </td>
                        </tr>
                    </table>
                </ion-toolbar>
            </ion-footer>



        </ion-list>