<!--
  Generated template for the SpendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar no-border-bottom color="primary">
        <ion-buttons end>
            <a ion-button icon-only (click)="openPopoverMenu($event)">
                <ion-icon name="more"></ion-icon>
            </a>
        </ion-buttons>
        <ion-title style="float:left;">
            Spends
        </ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="spends">
            <ion-segment-button value="date">
                By Date
            </ion-segment-button>
            <ion-segment-button value="color">
                By Color
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="spends">




        <ion-list *ngSwitchCase="'date'" ngSelected="selected">
            <ion-item class="style">


                <ion-label class="style">
                    <ion-icon name="search" class="menu-icon"> Search By Date</ion-icon>
                </ion-label>



                <ion-datetime displayFormat="DD-MM-YYYY" (ionChange)="searchByDate()" [(ngModel)]="event.finalDate"></ion-datetime>

            </ion-item>

            <ion-footer style="position:fixed;height:50px;" (click)="totSpendByCat()">
                <ion-toolbar>

                    <table style="background:#32C8A3">
                        <tr>
                            <td>
                                <ion-label style="font-size:20px;">TOTAL SPENDS</ion-label>
                            </td>
                            <td>
                                <ion-label style="font-size:20px;margin-left:75px">{{sumexp | currency:'INR':true}}</ion-label>
                            </td>
                        </tr>
                    </table>
                </ion-toolbar>
            </ion-footer>

            <ion-card *ngFor="let item of arr">

                <ion-item (click)="onClickdesc(item.expense_id)">
                    <ion-avatar item-start>
                        <img src="{{item.icon_image}}">
                    </ion-avatar>

                    <div class="item row">
                        <span align="left" class="col col-50">{{item.sub_cat_name}}</span>
                        <span align="right" class="col col-50"> {{item.expense_amt | currency:'INR':true}}</span>
                    </div>

                    <p>{{item.expense_date}}</p>

                </ion-item>
            </ion-card>

            <ion-fab bottom style="position:fixed;margin-left:260px;margin-bottom:45px">
                <button ion-fab><ion-icon name="add"></ion-icon></button>
                <ion-fab-list side="top" color="primary">
                    <button (click)="onClickRec() " style="font-size:20px; "> Recurring<ion-icon name="cloud-done"></ion-icon></button>&nbsp;&nbsp;
                    <button (click)="onClickFreq() " style="font-size:20px; ">Frequent <ion-icon name="cloud-done"></ion-icon></button>&nbsp;&nbsp;
                    <button (click)="onClickOne() " style="font-size:20px; ">One-Time  <ion-icon name="cloud-done"></ion-icon></button>

                </ion-fab-list>
            </ion-fab>





        </ion-list>
        <ion-list *ngSwitchCase="'color'">

            <ion-searchbar [(ngModel)]="txtsearch " (keypress)="openPopover($event) " placeholder="Search By Color ">Search by Color</ion-searchbar>
            <ion-card *ngFor="let item of arr ">
                <div class="list card ">
                    <ion-card-header [ngClass]="{c1:item.colour_name=='white' ,c2:item.colour_name=='orange' ,c3:item.colour_name=='lightgreen' ,c4:item.colour_name=='lightcoral',c5:item.colour_name=='darkturquoise'} ">
                        <ion-icon name="radio-button-off" (click)="openPopover($event,item.expense_id)"></ion-icon>
                        &nbsp;&nbsp;
                        <ion-icon name="trash" (click)="onDelSpends(item) "></ion-icon>
                    </ion-card-header>

                </div>
                <div>
                    <ion-card-content>

                        <ion-item (click)="onClickdesc(item.expense_id) ">
                            <ion-avatar item-start>
                                <img src="{{item.icon_image}} ">
                            </ion-avatar>

                            <div class="item row ">
                                <span align="left " class="col col-50 ">{{item.sub_cat_name}}</span>
                                <span align="right " class="col col-50 "> {{item.expense_amt | currency:'INR':true}}</span>
                            </div>

                            <p>{{item.expense_date}}</p>

                        </ion-item>
                    </ion-card-content>
                </div>
            </ion-card>




        </ion-list>