page-editnotes {
    .show {
        border-block-end-color: yellowgreen;
        border: 2px;
    }
    .iconclass {
        font-size: 30px;
        color: white;
    }
    textarea {
        font-family: "Times New Roman", Times, serif;
        font-size: 22px;
    }
}