page-popover-spend {
    .menu-icon {
        color: red;
    }
    .menu-icon1 {
        color: blue;
    }
    .menu-icon2 {
        color: green;
    }
    .menu-icon3 {
        color: orange;
    }
    .menu-icon4 {
        color: palevioletred;
    }
}