page-popover-spend1 {
    .menu-icon {
        color: black;
    }
    .menu-icon1 {
        color: orange;
    }
    .menu-icon2 {
        color: lightgreen;
    }
    .menu-icon3 {
        color: lightcoral;
    }
    .menu-icon4 {
        color: darkturquoise;
    }
}