page-signup {
    .fontedit
    {
      font-weight: bold; 
    }
    .splash-bg {
      position: relative;
      background: url('../assets/imgs/i8.jpg') no-repeat transparent;
      background-size: cover;
      height: 42%;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 5s linear infinite;
  }
  @keyframes animatedBackground {
      from {
          background-position: 0 0;
      }
      to {
          background-position: 100% 0;
      }
  }
  .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -68px;
      text-align: center;
  }
}
